# Exploratory Data analysis 
This is EDA done on the imputed dataset done by Abhinav Tembulkar

### Importing Libraries

In [2]:
import os
import pandas as pd
import seaborn as sb
import numpy as np

### Data preprocessing

In [3]:
df = pd.read_csv('imputed_dataset.csv')
df.head()

,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe - Text,Location,What is the highest level of formal education that you have attained or plan to attain within the next 2 years?,Job_Title,Select the title most similar to your current role (or most recent title if retired): - Other - Text,What is the size of the company where you are employed?,Approximately how many individuals are responsible for data science workloads at your place of business?,...,Employment.Work Activity.Design,Employment.Work Activity.Development,Employment.Work Activity.Human Resources,Employment.Work Activity.Managing/Supervising People/Projects,Employment.Work Activity.Other,Employment.Work Activity.Productions/Operations/Maintenance,Employment.Work Activity.Professional Service,Employment.Work Activity.Qualitity/Productivity Management,"Employment.Work Activity.Sales, Purchasing, Marketing",Employment.Work Activity.Teaching
0,4168,11,4,45,3585,7,0,880,5,7,...,63450.4,61701.4,82566.0,138062.4,28056.0,25121.6,55341.0,69001.4,68507.6,71259.0
1,4168,11,4,45,3298,7,1,880,5,7,...,63450.4,61701.4,82566.0,138062.4,28056.0,25121.6,55341.0,69001.4,68507.6,71259.0
2,4168,11,4,45,3298,7,2,880,5,7,...,63450.4,61701.4,82566.0,138062.4,28056.0,25121.6,55341.0,69001.4,68507.6,71259.0
3,4168,11,4,45,3585,7,3,880,5,7,...,63450.4,61701.4,82566.0,138062.4,28056.0,25121.6,55341.0,69001.4,68507.6,71259.0
4,4168,11,4,45,3298,7,4,880,5,7,...,63450.4,61701.4,82566.0,138062.4,28056.0,25121.6,55341.0,69001.4,68507.6,71259.0